/.gradle/1.12/taskArtifacts/cache.properties
/.gradle/1.12/taskArtifacts/cache.properties.lock
/.gradle/1.12/taskArtifacts/fileHashes.bin
/.gradle/1.12/taskArtifacts/fileSnapshots.bin
/.gradle/1.12/taskArtifacts/outputFileStates.bin
/.gradle/1.12/taskArtifacts/taskArtifacts.bin
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/libraries/support_v4_18_0_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
